@{
    ViewData["Title"] = "Bad Request";
}
<div class="row">
    <h1>@ViewData["Title"]</h1>
    <div class="col-6">
        <br>
        <div class="row">
            <div class="col-10">
                <div class="text-left h4">
                    <p>That request was not perfect, please try again</p>
                </div>
                <div class="text-left h4"> Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
            </div>
        </div>
    </div>
</div>