<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PharMedTOGO</title>
    @await Component.InvokeAsync(nameof(StylesComponent))
</head>
<body>
    <header>
        @await Component.InvokeAsync(nameof(NavbarComponent))
    </header>
    <main role="main">
        @RenderBody()
    </main>
    <footer class="border-top footer">
        <div class="container">
            &copy; @DateTime.Now.Year - PharMedTOGO
        </div>
    </footer>
    @await Component.InvokeAsync(nameof(ScriptsComponent))
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
