@model SaleDeleteModel

@{
    ViewData["Title"] = "Delete";
    int id = (int)TempData["saleId"];
}

<div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image"
     data-bs-bg="https://st4.depositphotos.com/8846918/40660/i/450/depositphotos_406604956-stock-photo-blood-pressure-meter-medical-equipment.jpg"
     style="background-image: url(https://st4.depositphotos.com/8846918/40660/i/450/depositphotos_406604956-stock-photo-blood-pressure-meter-medical-equipment.jpg)">
    <div style="padding: 5em;"></div>
</div>

<form asp-controller="Sale" asp-action="DeleteConfirmed" asp-route-id="@id" method="post">
    <h3>Are you sure you want to delete this?</h3>
    <div class="row gap-3">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        </div>
    </div>
</form>