<nav class="insightNavbar">
    <a class="item" asp-controller="Home" asp-action="Index">Home</a>
    <a class="item" asp-controller="Home" asp-action="Privacy">Privacy</a>
    <div class="item">
        <a asp-controller="Medicine" asp-action="All">Medicine</a>
        <div class="dropdown">
            <div>
                <a asp-controller="Medicine" asp-action="Add">Add new medicine</a>
            </div>
        </div>
    </div>
    <a class="item">Contact</a>
    <div class="item">
        Back-End
        <div class="dropdown">
            <div>
                <a>ASP.NET CORE</a>
                <a>Enity Framework</a>
                <a>Docker</a>
            </div>
        </div>
    </div>
    <div class="underline"></div>
    <partial name="_LoginPartial" />
</nav>