@model PharMedTOGO.Core.Models.AllCartsQueryModel

@{
    ViewData["Title"] = "Fail";
}

<h1 class="text-danger">Transaction failed</h1>

<div>
    <h4>You transaction hasn't been successful. Please try again</h4>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
