@model MedicineFormModel

@{
    ViewData["Title"] = "Edit medicine";
    int id = (int)TempData["medicineId"];
}

<hr />
<div class="addMedicine">
    <form asp-controller="Medicine" asp-action="Edit" asp-route-id="@id">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ImageUrl" class="control-label"></label>
            <input asp-for="ImageUrl" class="form-control" />
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="RequiresPrescription" /> @Html.DisplayNameFor(model => model.RequiresPrescription)
            </label>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Category"></label>
            <select asp-for="Category" class="form-control">
                @for (int i = 1; i <= 5; i++)
                {
                    <option value="@i">@((MedicineCategory)i)</option>
                }
            </select>
            <span asp-validation-for="Category" class="small text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
